<table class="table table-hover">
    <tr valign="top">
        <div class="col-1">
            <td width="70px">
                <a href="{{ url_for('user', username=current_user.username) }}">
                    <img class="rounded" src="{{ url_for('static', filename='pics/' + User.query.filter_by(id=post.user_id)[0].ava) }}" height="100px" width="100px">
                </a>
            </td>
        </div>
        <div class="col-2">
            <td>
                {% set user_link %}
                    <a href="{{ url_for('user', username=User.query.filter_by(id=post.user_id)[0].username) }}">
                        {{ User.query.filter_by(id=post.user_id)[0].username }}
                    </a>
                {% endset %}
                {{ _('%(username)s said %(when)s',
                username=user_link, when=moment(post.timestamp).fromNow()) }}:
                <br>

                    <div class="check">{{ post.body }}</div>

            </td>
        </div>
        <div class="col-sm-3">
            <td width="40px">
                {% if post.user_id == current_user.id %}
                    <a href="{{ url_for('delete_comm', username=post.comment.author.username, post=post.id) }}">
                        <span>
                        <img alt="Delete post" align="right" src="{{ url_for('static', filename='delete.png') }}" height="20px" width="20px">
                        </span>
                    </a>
                {% endif %}
                <br>
                <hr>
            </td>
        </div>
    </tr>
</table>
