<!DOCTYPE html>
<html>
<head>
    <title></title>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <meta name="viewport" content="width=device-width, initial-scale=0.75">
    <style>
        #body{
            min-height: 400px;
            margin-top: 3%;
            background-color: red;
        }
    </style>

</head>
<body>
    <table class="table table-bordered">
    <tr valign="top">
        <div class="col-1">
            <td width="70px">
                <a href="#">
                    <img class="rounded" src="def.jpg" height="100px" width="100px">
                </a>
            </td>
        </div>
        <div class="col-2">
            <td>
                <p>username said 4k6l56l343k:</p>
                fsdfldf;lsfsfs;fl;fs;lfs;fs
            </td>
        </div>
        <div class="col-sm-auto">
            <td>
                
                    <a href="#">
                        <span>
                        <img alt="Delete post" align="right" src="del.png" height="20px" width="20px">
                        </span>
                    </a>
        
            </td>
        </div>
    </tr>
    </table>

    <table class="table table-bordered">
    <tr>
     
            <td width="70px">
                <a href="#">
                    <img class="rounded" src="def.jpg" height="100px" width="100px">
                </a>
            </td>
    
            <td>
                <p>username said 4k6l56l343k:</p>
                <p>fsdfldf;lsfsfs;fl;fs;lfs;fsdfdfldfksflsfkslfskfslfskfslfksflsdfksfsdfldf;lsfsfs;fl;fs;lfs;fsdfdfldfksflsfkslfskfslfskfslfksflsdfksfsdfldf;lsfsfs;fl;fs;lfs;fsdfdfldfksflsfkslfskfslfskfslfksflsdfks</p>
            </td>
  
            <td width="30px" align="right">
                
                    <a href="#">
                        <span>
                        <img alt="Delete post" align="right" src="del.png" height="20px" width="20px">
                        </span>
                    </a>
        
            </td>
        
    </tr>
    </table>
</body>
</html>