{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <h1>{{ _('Reset Password') }}</h1>
    <div class="row">
        <div class="col-md-4">
            <form class="form form-horizontal" method="post" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}
                {{ wtf.form_field(form.email) }}
                <input class="btn btn-outline-secondary" id="submit" name="submit"
                       type="submit" value="{{ _('Send confirmation message') }}">
            </form>
        </div>
    </div>
{% endblock %}

<!--<form action="" method="post">-->
<!--        {{ form.hidden_tag() }}-->
<!--        <p>-->
<!--            {{ form.email.label }}<br>-->
<!--            {{ form.email(size=64) }}<br>-->
<!--            {% for error in form.email.errors %}-->
<!--            <span style="color: red;">[{{ error }}]</span>-->
<!--            {% endfor %}-->
<!--        </p>-->
<!--        <p>{{ form.submit() }}</p>-->
<!--</form>-->