{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <h1>{{ _('Reset Your Password') }}</h1>
    <div class="row">
        <div class="col-md-4">
            <form class="form form-horizontal" method="post" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}
                {{ wtf.form_field(form.password) }}
                {{ wtf.form_field(form.password2) }}
                <br>
                <input class="btn btn-outline-secondary" id="submit" name="submit" type="submit" value="{{ _('Change password') }}">
            </form>
        </div>
    </div>
{% endblock %}


<!--<form action="" method="post">-->
<!--        {{ form.hidden_tag() }}-->
<!--        <p>-->
<!--            {{ form.password.label }}<br>-->
<!--            {{ form.password(size=32) }}<br>-->
<!--            {% for error in form.password.errors %}-->
<!--            <span style="color: red;">[{{ error }}]</span>-->
<!--            {% endfor %}-->
<!--        </p>-->
<!--        <p>-->
<!--            {{ form.password2.label }}<br>-->
<!--            {{ form.password2(size=32) }}<br>-->
<!--            {% for error in form.password2.errors %}-->
<!--            <span style="color: red;">[{{ error }}]</span>-->
<!--            {% endfor %}-->
<!--        </p>-->
<!--        <p>{{ form.submit() }}</p>-->
<!--    </form>-->